* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-family: Arial;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    margin-top: 5px;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
}



/* main container */
div#main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #cbced8;
    overflow: hidden;
}



/* menu container */
div#menu-container {
    width: auto;
    height: auto;
    max-height: 100%;
    margin: 20px 20px 0 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #eeeeee;
}

input[name="process"], label.lbl-input, select#image-type-to {
    cursor: pointer;
}

label[for="image-type-to"] {
    margin-left: 21px;
}



/* inp container */
div#inp-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}
div#inp-container.draging {
    background-color: #b1b3bb;
}

div#guide {
    text-align: center;
}

label[for="inp-img"] {
    display: inline-block;
    width: 160px;
    height: 44px;
    padding: 10px 40px;
    font-family: Arial;
    font-weight: bold;
    color: #eeeeee;
    background-color: #465992;
    cursor: pointer;
    transition: all .5s;
}
label[for="inp-img"]:hover {
    background-color: #2f3d64;
}

input[type="file"] {
    display: none;
}



/* loading container */
div#loading-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
}
div#loading-container.active {
    display: flex;
}

img#gif-loading {
    position: relative;
    top: 140px;
}
