/* main container */
div#main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #cbced8;
    overflow: hidden;
}



/* menu container */
div#menu-container {
    width: auto;
    height: auto;
    max-height: 100%;
    margin: 20px 20px 0 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #eeeeee;
}

input[name="process"], label.lbl-input, select#image-type-to {
    cursor: pointer;
}
label.lbl-input {
    font-weight: bold;
}
label[for="image-type-to"] {
    margin-left: 21px;
}



/* inp container */
div#inp-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}
div#inp-container.draging {
    background-color: #b1b3bb;
}

div#guide {
    text-align: center;
}

label[for="inp-img"] {
    display: inline-block;
    width: 160px;
    height: 44px;
    padding: 10px 40px;
    font-family: Arial;
    font-weight: bold;
    color: #eeeeee;
    background-color: #465992;
    cursor: pointer;
    transition: all .5s;
}
label[for="inp-img"]:hover {
    background-color: #2f3d64;
}

input[type="file"] {
    display: none;
}

p.caption {
    margin-top: 5px;
    font-weight: bold;
}



/* otp container */
div#otp-container {
    position: fixed;
    bottom: -150px;
    width: 100%;
    transition: all .5s ease;
}
div#otp-container.active {
    bottom: 0;
}

div#menu-arrow-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
div#menu-arrow-wrapper {
    position: relative;
    width: 64px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 32px 32px 0 0;
    overflow: hidden;
    cursor: pointer;
}
img#menu-arrow {
    position: absolute;
    top: -16px;
    transform-origin: center center center;
    transform: rotate(-90deg);
    transition: all .5s;
}
img#menu-arrow.active {
    transform: rotate(90deg);
}

div#otp-body-container {
    width: 100%;
    height: 150px;
    padding: 0 0 0 10px;
    background-color: rgba(0, 0, 0, 0.4);
}

div#otp-item-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 10px;
}

div.otp-item {
    display: flex;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding: 5px;
    background-color: #eeeeee;
    border-radius: 5px;
    align-items: center;
}

div.img-copy-wrapper {
    display: flex;
    width: 28px;
    height: 28px;
    margin-left: 5px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all .25s;
}
div.img-copy-wrapper:hover {
    background-color: #b9b9b9;
}

img.img-copy {
    cursor: pointer;
}

img.img-check {
    opacity: 0;
    transition: all .25s;
}
img.img-check.active {
    opacity: 1;
}



/* loading container */
div#loading-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
}
div#loading-container.active {
    display: flex;
}

img#gif-loading {
    position: relative;
    top: 140px;
}
